/*-------VARIABLES-------*/
/*-------EXTENDS-------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,900&display=swap");
/*----------RESET----------*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif; }

header {
  position: sticky;
  top: 0; }
  header div {
    color: white;
    font-size: 35px;
    background-color: red;
    display: flex;
    align-items: center; }
    header div .ala {
      width: 130px;
      max-width: 250px;
      height: auto !important; }
  header nav ul {
    list-style: none;
    background-color: gray;
    display: flex; }
    header nav ul li {
      margin: 10px; }
      header nav ul li a {
        text-decoration: none;
        color: white; }

/*!-------index-------*/
.hero {
  color: white;
  font-size: 35px;
  width: 100%;
  height: 400px;
  background-image: url("../img/bienvenida.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px; }

.fundado {
  text-align: center;
  font-size: 25px; }

.imagenes {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas: "xr150 xr250 xr190"; }
  .imagenes .img-xr150 {
    grid-area: xr150; }
  .imagenes .img-xr250 {
    grid-area: xr250; }
  .imagenes .img-xr190 {
    grid-area: xr190; }

/*-------contacto-------*/
.contacto {
  text-align: center;
  font-size: 25px; }
  .contacto .contacto-h2 {
    font-size: 35px; }

/*-------motos-------*/
.productos {
  text-align: center;
  padding: 15px; }

.productosEstilos {
  display: grid;
  text-align: center;
  height: auto;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "productoWave productoWavecd productoCb125" "productoXr190 productoXr250 productoXr150"; }
  .productosEstilos .productoWave {
    grid-area: productoWave; }
  .productosEstilos .productoWavecd {
    grid-area: productoWavecd; }
  .productosEstilos .productoCb125 {
    grid-area: productoCb125; }
  .productosEstilos .productoXr190 {
    grid-area: productoXr190; }
  .productosEstilos .productoXr250 {
    grid-area: productoXr250; }
  .productosEstilos .productoXr150 {
    grid-area: productoXr150; }
  .productosEstilos div {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 320px;
    height: 300px; }
    .productosEstilos div h3 {
      margin-bottom: 10px; }
    .productosEstilos div img {
      width: 100%; }
    .productosEstilos div a {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 5px; }

/*----------REPUESTOS----------*/
.Repuestos h2 {
  font-size: 25px;
  text-align: center;
  padding: 5px; }

.RepuestosTarjetas {
  width: 100%;
  height: auto;
  display: grid;
  text-align: center;
  padding: 5px;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px;
  grid-template-areas: "mineral semisintetico transmision"; }
  .RepuestosTarjetas div {
    width: 330px;
    padding: 15px;
    border: 2px solid black;
    margin: 5px; }
    .RepuestosTarjetas div h3 {
      margin-bottom: 10px;
      font-size: 25px; }
    .RepuestosTarjetas div img {
      height: 300px; }
    .RepuestosTarjetas div a {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 5px; }
  .RepuestosTarjetas .mineral {
    grid-area: mineral; }
  .RepuestosTarjetas .semisintetico {
    grid-area: semisintetico; }
  .RepuestosTarjetas .transmision {
    grid-area: transmision; }

/*----------SERVICE----------*/
.Service {
  font-size: 35px;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/service.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .Service .textService {
    display: inline-block;
    justify-content: center;
    padding-top: 150px;
    color: white; }
  .Service a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px; }

footer {
  background-color: red;
  display: flex;
  justify-content: center;
  width: 100%; }
  footer div {
    margin: 30px;
    color: black; }
    footer div h2 {
      font-size: 25px; }
    footer div h3 {
      font-size: 20px; }

@media screen and (max-width: 1125px) {
  .imagenes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: "xr150  xr250" "xr190 xr190"; }
  .RepuestosTarjetas {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 450px;
    grid-template-areas: "mineral semisintetico" "transmision transmision"; }
    .RepuestosTarjetas .RepuestosTarjetas div {
      width: 350px; }
  .productosEstilos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "productoWave productoWavecd" "productoCb125 productoXr190" "productoXr250 productoXr150"; }
  footer {
    display: inline-block;
    text-align: center; } }

@media screen and (max-width: 900px) {
  header div {
    font-size: 25px; }
    header div .ala {
      max-width: 200px;
      max-height: 200px; } }

@media screen and (max-width: 730px) {
  .hero {
    font-size: 25px; }
  .imagenes {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "xr150" "xr250" "xr190"; }
  .RepuestosTarjetas {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 450px;
    grid-template-areas: "mineral" "semisintetico" "transmision"; }
  .productosEstilos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "productoWave" "productoWavecd" "productoCb125" "productoXr190" "productoXr250" "productoXr150"; }
  .fundado h2 {
    font-size: 20px; }
  .fundado p {
    font-size: 15px; }
  .mapa {
    width: 500px;
    height: 500px; } }

@media screen and (max-width: 567px) {
  header div {
    font-size: 15px; }
  header nav {
    font-size: 15px; }
    header nav ul {
      justify-content: center; }
  .hero {
    font-size: 15px; }
  .mapa {
    width: 400px;
    height: 400px; }
  .Repuestos h2 {
    font-size: 15px; }
  .RepuestosTarjetas div h3 {
    font-size: 20px; } }

@media screen and (max-width: 457px) {
  header div {
    display: inline-block;
    text-align: center;
    width: 100%; }
  header nav {
    font-size: 10px; }
  .imagenes {
    margin: 5px;
    padding: 5px;
    width: auto; }
    .imagenes .xr150 {
      width: 300px;
      object-fit: cover; }
    .imagenes .xr190 {
      width: 300px;
      object-fit: cover; }
    .imagenes .xr250 {
      width: 300px;
      object-fit: cover; }
  .mapa {
    width: 300px;
    height: 300px; } }
