@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,900&display=swap');
/*----------RESET----------*/
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'Lato', sans-serif;
    }
/*----------HEADER----------*/
header{
    position: sticky;
    top: 0;
}
.ala{
    width: 250px;
    max-width: 250px;
    height: auto !important;
}
header div{
    color:white;
    font-size: 35px;
    background-color: red;
    display: flex;
    align-items: center;
}
header nav ul{
    list-style: none;
    background-color: gray;
    display: flex;
}
header nav ul li{
    margin: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

/*----------MAIN----------*/
.hero {
    color: white;
    font-size: 35px;
    width: 100%;
    height: 600px;
    background-image: url("../img/bienvenida.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.fundado{
    text-align: center;
    font-size: 25px;
}
.imagenes {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    /* margin: 20px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
        "xr150 xr250 xr190"
    ;
}
.img-xr150{
    grid-area: xr150;
}
.img-xr250{
    grid-area: xr250;
}
.img-xr190{

    grid-area: xr190;
}

/*----------CONCTACTO----------*/
.contacto{
    text-align: center;
    font-size: 25px;
}
.contacto-h2{
    font-size: 35px;
}

/*----------REPUESTOS----------*/
.Repuestos h2{
    font-size: 25px;
    text-align: center;
    padding: 15px;
}
.RepuestosTarjetas{
    display: flex;
    text-align: center;
    padding: 15px;
    justify-content: center;
}
.RepuestosTarjetas div{
    padding: 15px;
    border: 2px solid black;
    height: 400px;
    width: 320px;
    margin: 5px;
}
.RepuestosTarjetas h3{
    margin-bottom: 10px;
}
.RepuestosTarjetas div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
}

/*----------SERVICE----------*/
.Service{
    font-size: 35px;
    text-align: center;
    width: 100%;
    height: 800px;
    background-image: url("../img/service.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.textService{
    display: inline-block;
    justify-content: center;
    padding-top: 200px;
}
.textService h2{
    color: white;
}
.textService h3{
    color: black;
}
.Service a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
}

/*----------MOTOS----------*/
.productos{
    text-align: center;
    padding: 15px;
}
.productosEstilos{
    display: flex;
    text-align: center;
}
.productosEstilos div{
    border: 2px solid black;
    height: 480px;
    width: 600px;
    margin: 5px;
}
.productosEstilos div h3{
    margin-bottom: 10px;
}
.productosEstilos div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding:  5px;
}
.productosEstilos div img{
    width: 100%;
}

/*----------FOOTER----------*/
footer{
    background-color: red;
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 100%;
}
footer div{
    margin: 30px;
}

/*---------MEDIA QUERIES---------*/

@media screen and (max-width:1125px){
    .imagenes{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
            "xr150  xr250"
            "xr190 xr190"
        ; 
    }
    footer{
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    header div{
        font-size: 25px;
    }
    .ala{
        max-width: 200px;
        max-height: 200px;
    }
}
@media screen and (max-width:730px){
    .imagenes{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: 
            "xr150"
            "xr250"
            "xr190"
        ;
    }
    .hero{
        font-size: 25px;
    }
    .fundado h2{
        font-size: 20px;
    }
    .fundado p{
        font-size: 15px;
    }
    .mapa{
        width: 500px;
        height: 500px;
    }
}
@media screen and (max-width:567px){
    header div{
        font-size: 15px;
    }
    .hero{
        font-size: 15px;
    }

    header nav{
        font-size: 15px;
    }
    header nav ul{
        justify-content: center;
    }
    .mapa{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width:457px){
    header div{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    header nav{
        font-size: 10px;
    }
    .imagenes{
        margin: 5px;
        padding: 5px;
        width: auto;
        }
    .img-xr150{
        width: 300px;
        object-fit: cover;
    }
    .img-xr190{
        width: 300px;
        object-fit: cover;
    }
    .img-xr250{
        width: 300px;
        object-fit: cover;
    }
    .mapa{
        width: 300px;
        height: 300px;
    }
}