/*!-------index-------*/
.hero{
    color: $color-segundario;
    font-size: nth($size, 5);
    @include flex (100%, 400px);
    background:linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.452)), url("../img/bienvenida.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h2{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
}
.fundado{
    text-align: center;
    font-size: nth($size, 4);
}
.imagenes{
    @include flex (100%, auto);
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
        "xr150 xr250 xr190"
    ;
    .img-xr150{
        grid-area: xr150;
    }
    .img-xr250{
        grid-area: xr250;
    }
    .img-xr190{
        grid-area: xr190
    }
}

/*-------contacto-------*/
.contacto{
    text-align: center;
    font-size: nth($size, 4);
    .contacto-h2{
        font-size: 35px;
    }
    .contenedor{
        display: inline-block;
        justify-content: center;
    }
}

/*-------motos-------*/
.productos{
    text-align: center;
    padding: 15px;
}
.productosEstilos{
    display: grid;
    text-align: center;
    @include flex (100%, auto);
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "productoWave productoWavecd productoCb125"
        "productoXr190 productoXr250 productoXr150"
    ;
    .productoWave{
        grid-area: productoWave;
    }
    .productoWavecd{
        grid-area: productoWavecd;
    }
    .productoCb125{
        grid-area: productoCb125;
    }
    .productoXr190{
        grid-area: productoXr190;
    }
    .productoXr250{
        grid-area: productoXr250;
    }
    .productoXr150{
        grid-area: productoXr150;
    }
    div{
        border: 2px solid $color-primario;
        margin: 5px;
        padding: 5px;
        width: 320px;
        height: 300px;
        transition-duration: 1s;
        @include flex (320px, 300px);
        h3{
            margin-bottom: 10px;
        }
        img{
            width: 100%;
        }
        a{
            text-decoration: none;
            color: $color-segundario;
            background-color: $color-primario;
            padding: 5px;
            transition: 1s;
        }
        a:hover{
            background-color: $color-terciario;
        }
    }
    div:hover{
        transform: scale(1.05);
        box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
    }
}

/*----------REPUESTOS----------*/
.Repuestos {
    h2{
        font-size: nth($size, 4);
        text-align: center;
        padding: 5px;
    }
}
.RepuestosTarjetas{
    @include flex (100%, auto);
    display: grid;
    text-align: center;
    padding: 5px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
    grid-template-areas: "mineral semisintetico transmision";
    div{
        width: 330px;
        padding: 15px;
        border: 2px solid $color-primario;
        margin: 5px;
        transition: 1s;
        h3{
            margin-bottom: 10px;
            font-size: nth($size, 4);
        }
        img{
            height: 300px;
        }
        a{
            text-decoration: none;
            color: $color-segundario;
            background-color: $color-primario;
            padding: 5px;
            cursor: pointer;
            box-shadow: inset 0 0 0 0 $color-terciario;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
        }
        a:hover{
            box-shadow: inset 0 100px 0 0 $color-terciario;
        }
    }
    div:hover{
        transform: scale(1);
        box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
    }
    .mineral{
        grid-area: mineral;
    }
    .semisintetico{
        grid-area: semisintetico;
    }
    .transmision{
        grid-area: transmision;
    }
}

/*----------SERVICE----------*/
.Service{
    font-size: nth($size, 5);
    text-align: center;
    @include flex (100%, 500px);
    background:linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.452)), url("../img/service.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    .textService{
        display: inline-block;
        justify-content: center;
        padding-top: 150px;
        color: $color-segundario;
    }
    a{
        text-decoration: none;
        color: $color-segundario;
        background-color: $color-primario;
        padding: 5px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 $color-terciario;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
    }
    a:hover{
        box-shadow: inset 0 100px 0 0 $color-terciario;
    }
}
